<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<h1>欢迎来到22期皇家会所首页</h1>
	<a href="/APP01/login1/">app01</a>
	<a href="/APP02/login2/">app02</a>
	<form action="" method="GET">
		用户名：<input type="username" name="user" id="" value="" />
		密码：<input type="password" name="psd" />
		<input type="submit" value="提交"/>
	</form>
	<form action="" method="POST">
		用户名：<input type="username" name="user" id="" value="" />
		密码：<input type="password" name="psd" />
		<input type="submit" value="提交"/>
	</form>
</body>
</html>